.logo{
    background: url("rg-logo.svg") no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 50px;
    @include mq_2(xx-small) {
        width: 300px;
    }
    @include mq_2(x-small) {
        width: 274px;
    }
    @include mq_2(small) {
        width: 315px;
    }
    @include mq_2(medium) {
        height: 52px;
        width: 328px;
    }
    @include mq_2(large) {
        height: 58px;
        width: 365px;
    }
    @include mq_2(large) {
        height: 61px;
        width: 380px;
    }
}
/*nav*/
.main-nav{
    background: $dark-grey-opacity;
	left: 0;
	margin:0;
	padding: 25px 0 20px 0;
	position: fixed;
	right: 0;
	top:0;
	z-index: 1030;
};
.main-nav--light{
    background: $grey-opacity;
}
.main-nav--dark{
    background: $dark-grey-opacity;
}
.nav-lists{
	display: none;
	@include mq_2(medium) {
		display: block
	}
}
.nav-list{
	display: block;
	float: right;
	margin:0;
	padding: 0;
	&--link{
		display: block;
		padding: 18px 20px 0 20px;
	}
}
