
  <section class="section" id="contact">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2  col-md-10 col-md-offset-1  col-lg-6 col-lg-offset-3">
                <h2 class="section-heading-alt">Leave A Message</h2>
                <p class="section-desc section-desc-alt">I think I have more in common with a carpenter than you might think. We're putting things together. 
                    Once I get a basic understanding of your project, we can talk more in-depth about your goals.
                </p>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <form class="contact-form">
                    <input class="contact-input" type="text" name="name"><br />
                    <input class="contact-input" type="email" name="emal"><br />
                    <textarea class="contact-text-area" name="message" rows="5" cols="10"></textarea>
                    <a href="mailto:http://scr.im/5design" class="contact-btn">Submit</a>
                </form>
            </div>
        </div>
    </section>