<div class="hero-bg">
        <div class="container">
            <div class="col-lg-12 col-sm-10 col-md-10">
                <h1 class="main-heading">Lets <span class="main-heading-alt"> build </span> a [house] website!</h1>
                <div class="clearfix"></div>    
                <h3 class="sub-heading">
                    I am a front end web developer and designer previously based in Orange County, Ca  and currently 
                    in North Florida.  Web design is my career and passion.  I believe the only constant thing in the 
                    web industry is change. I enjoy new ideas and trends year in and year out. 

                    <br />
                    <span class="main-heading-alt"> <h1>
                        <!-- <i class="fa fa-fighter-jet" aria-hidden="true"></i> -->
                    </h1> </span> 
                </h3>
            </div>    
        </div>
</div>