<div class="container">
    <div class="col-xs-6 col-sm-4">
    <div class="logo">
    </div>
    </div>        
    <div class="col-xs-6 col-sm-8">
        <ul class="nav-lists">
            <li class="nav-list">
                <a href="#contact" class="nav-list--link linked" title="contact">Contact</a> 
            </li>
            <li class="nav-list">
                <a href="#works" class="nav-list--link linked" title ="works">Works</a> 
            </li>
            <li class="nav-list">
                <a href="#skills" class="nav-list--link linked" title="skills">Skills</a> 
            </li>
            <li class="nav-list">
                <a href="#services" class="nav-list--link linked" title="services">Services</a> 
            </li>
            <li class="nav-list">
                <a href="#hero" class="nav-list--link linked" title="hero">Home</a> 
            </li>
        </ul>

        <!-- responsive nav -->
        <span class="nav-responsive-open lk">&#9776;</span>
        <div class="nav-responsive">
            <span class="nav-responsive-close lk">&times;</span>
                <ul class="nav-responsive-lists">

                    <li class="nav-responsive-list">
                        <a href="#hero" class="nav-responsive-list--link linked lk" title="hero" >Home</a> 
                    </li>
                    <li class="nav-responsive-list">
                        <a href="#services" class="nav-responsive-list--link linked lk" title="services" >Services</a> 
                    </li>
                    <li class="nav-responsive-list">
                        <a href="#skills" class="nav-responsive-list--link linked lk" title="skills" >Skills</a> 
                    </li>
                    <li class="nav-responsive-list">
                        <a href="#works" class="nav-responsive-list--link linked lk" title ="works" >Works</a> 
                    </li>
                    <li class="nav-responsive-list">
                        <a href="#contact" class="nav-responsive-list--link linked lk" title="contact">Contact</a> 
                    </li>
                </ul>
        </div>
    </div> 
</div>