<section class="section section-services" id="services">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2  col-md-10 col-md-offset-1  col-lg-6 col-lg-offset-3">
                <h2 class="section-heading">I can support your project at any stage it needs it</h2>
                <p class="section-desc">Below are a few services I provide</p>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4">
                <article>
                    <div class="service-design service-provide">
                    </div>
                    <h4 class="article-heading">Web Design</h4>
                    <p class="services-desc"> Lets design a site that aligns with your brand strategy and focuses on the user experience. Exceptional design is usable, simple, and beautiful.I can create working prototype to deliver the results you want quickly and effectively. </p>
                </article>
            </div>
            <div class="col-sm-4">
                <article>
                    <div class="service-dev service-provide">
                    </div>
                    <h4 class="article-heading">Front End Development</h4>
                    <p class="services-desc"> I can provide a clear and consistent code that brings your site alive and accessible across all modern browsers and mobile devices. The result is fully functional experience built with the latest technology and conforming to best web practice.</p>
                </article>
            </div>
            <div class="col-sm-4">
                <article>
                    <div class="service-cms service-provide">
                    </div>
                    <h4 class="article-heading">CMS Integration</h4>
                    <p class="services-desc"> Content Management Systems have an administrative area allowing you to easily edit your website's content. Lets weld your site into popular and easy to manage CMS platforms to make it easier for you to update. </p>
                </article>
            </div>
        </div>
    </section>