    <section class="section section-skills" id="skills">
        <div class="container">
            <div class="col-lg-12">
                <h2 class="section-heading-alt">Languages Skills</h2>
                <p class="section-desc">
                    I know what tools I need and the ones I dont (anymore). 
                </p>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <article class="col-sm-4">
                        <div class="skill">
                            <span class="skill-trade skill-layout">
                                <p class="skill-desp">HTML 5, CSS3</p>
                            </span>
                        </div>
                    </article>
                    <article class="col-sm-4">
                        <div class="skill">
                            <span class="skill-trade skill-js">
                                <p class="skill-desp">Jquery, Angular</p>
                            </span>
                        </div>
                    </article>
                    <article class="col-sm-4">
                        <div class="skill">
                            <span class="skill-trade skill-wp">
                                <p class="skill-desp">Wordpress, Drupal</p>
                            </span>
                        </div>
                    </article>
                    <article class="col-sm-4">
                        <div class="skill">
                            <span class="skill-trade  skill-version">
                                <p class="skill-desp">Git, Webpack</p>
                            </span>
                        </div>
                    </article>
                    <article class="col-sm-4">
                        <div class="skill">
                            <span class="skill-trade  skill-prep">
                                <p class="skill-desp">SASS, SMACSS</p>
                            </span>
                        </div>
                    </article>
                    <article class="col-sm-4">
                        <div class="skill">
                            <span class="skill-trade  skill-graphic">
                                <p class="skill-desp">Photoshop, Illustrator</p>
                            </span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>