    <section class="section section-works" id="works">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2  col-md-10 col-md-offset-1  col-lg-6 col-lg-offset-3">
                <h2 class="section-heading-alt">Selected Projects</h2>
                <p class="section-desc">Here are some of my freelance work wth some of the most creative local agencies in Orange County and Los Angeles</p>
            </div>
            <div class="clearfix"></div>
            <article class="col-lg-4 col-sm-6">
                <div class="article-works">
                    <div class="work-item">
                        <div class="work-item-overlay">
                            <a class="work-item-link article-works-heading" href="http://bit.ly/1r8cmVK"  target="_blank">Go to site</a>
                        </div>
                        <div class="work-item-piece work-item-cdr"></div>
                    </div>
                    <h5 class="article-works-heading">Cafe Delrey Marina</h5>
                    <p>HTML/CSS, JS, Wordpress</p>                              
                </div>
            </article>

            <article class="col-lg-4 col-sm-6">
                    <div class="article-works">
                    <div class="work-item">
                        <div class="work-item-overlay">
                            <a class="work-item-link article-works-heading" href="http://bit.ly/1oaHZKc"  target="_blank">Go to site</a>
                        </div>
                        <div class="work-item-piece work-item-amc"></div>
                    </div>
                    <h5 class="article-works-heading">American Cupcake</h5>
                    <p>HTML/CSS, JS</p>
                </div>
            </article>
            <article class="col-lg-4 col-sm-6">
                <div class="article-works">
                    <div class="work-item">
                        <div class="work-item-overlay">
                            <a class="work-item-link article-works-heading" href="http://bit.ly/2lJ05er" target="_blank">Go to site</a>
                        </div>
                        <div class="work-item-piece work-item-inp"></div>
                    </div>
                    <h5 class="article-works-heading">Interior Philosophy</h5>
                    <p>HTML/CSS, JS</p>
                    </div>
            </article>
            <article class="col-lg-4 col-sm-6">
                <div class="article-works">
                    <div class="work-item">
                        <div class="work-item-overlay">
                            <a class="work-item-link article-works-heading" href="http://bit.ly/2lCZIBA" target="_blank">Go to site</a>
                        </div>
                        <div class="work-item-piece work-item-mnc"></div>
                    </div>
                    <h5 class="article-works-heading">Marsh and Clark</h5>
                    <p>HTML/CSS, JS</p>
                    </div>
            </article>
            <article class="col-lg-4 col-sm-6">
                <div class="article-works">
                    <div class="work-item">
                        <div class="work-item-overlay">
                            <a class="work-item-link article-works-heading" href="./assets/src/img/mock-howitworks.jpg" target="_blank">View design</a>
                        </div>
                        <div class="work-item-piece work-item-itr"></div>
                    </div>
                    <h5 class="article-works-heading">Resolve IT</h5>
                    <p>UI/Prototype</p>
                    </div>
            </article>
            <article class="col-lg-4 col-sm-6">
                <div class="article-works">
                    <div class="work-item">
                        <div class="work-item-overlay">
                            <a class="work-item-link article-works-heading" href="http://bit.ly/2kIldlf" target="_blank">Go to site</a>
                        </div>
                        <div class="work-item-piece work-item-scb"></div>
                    </div>
                    <h5 class="article-works-heading">Scambook</h5>
                    <p>HTML/CSS, JS, Wordpress</p>
                    </div>
            </article>
        </div>
    </section>

