<article class="col-lg-4 col-sm-6">
    <div class="article-works">
        <div workstap class="work-item">
            <div class="work-item-overlay">
                <a class="work-item-link article-works-heading" href="{{work.articleLink}}"  target="_blank">Go to site</a>
            </div>
            <div class="work-item-piece {{work.articleThumb}}"></div>
        </div>
        <h5 class="article-works-heading">{{work.articleHeading}}</h5>
        <p>{{work.articleDesc}}</p>                              
    </div>
</article>
