// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{}
.footer--content{
	height: 100px;
	background: #fff000;
	margin-top: 30px
}