// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
	background: $brand-color
}
.footer-content{
	height: 200px;
	margin-top: 30px
}