.section-hero{
	background: url("rg-hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
}

.main-heading{
	padding-bottom: 30px;
	padding-top: 140px;
	@include mq_2(xx-small) {
		padding-top: 170px;
	}	
	@include mq_2(medium-2) {
		padding-top: 167px;
	}	
	@include mq_2(large) {
		padding-top: 177px;
	}	
	@include mq_2(x-large) {
		padding-top: 179px;
	}	
}
