
.main-nav-desktop{
	left: 0;
	margin-bottom: 20px;
	margin-left:0; 
	margin-right:0;
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	right: 0;
	top:0;
	z-index: 1030
	 
}
.nav-lists{
	float:top;
	margin: 0
}
.nav-list{
	display: block;
	float: left;
	position: relative;
	&--link{
		/* color: $light-grey;*/
		display: block;
		padding: 10px 15px;
		position: relative;
	}
}


@include mq(small) {
}
@include mq(medium) {
  .main-nav-desktop{display: block}
}
@include mq(large) {

}