.service-provide{
  height: 150px;
	margin-top: 30px;
	text-align: center;
  background-position: center !important; 
  background-repeat: no-repeat !important;
}

.service-design{
  background: url("service-icon-design.svg");
}
.service-dev{
  background: url("service-icon-dev.svg");
}

.service-cms{
  background: url("service-icon-cms.svg");
}