/* maps and brealpoint */
$breakpoints: (
  null: 0,
  x-small: 544px,
  small : 740px,
  medium: 800px,
  large : 1024px,
  xlarge: 1400px

);
/* example usage inline
.main {
  width: 100%;
  @include mq(medium) {
    width: 60%;
  }
  @include mq(large) {
    width: 70%;
  }
}
*/

.section-skills{}
.skill{
    margin: 15px auto;
    &-trade{
        display: block;
        text-align: center
    }
    &-desp{
        padding-top: 10px
    }

}
.skill-trade{
	max-height: 300px;
    /*background: #000;*/
}
.skill-trade canvas {
    max-height: 100%;
    max-width: 100%;
 	position: relative;
}
.skill-desp{
    left: 0;
    margin: auto;
    position: absolute;
	padding-top: 10px;
    right: 0;
    text-align: center;
    top: 55px;
    width: 90px;
}


.section-heading{
	margin-bottom: 20px;
}

