
.section-skills{}
.skill{
    margin: 15px auto;
    @include mq_2(x-large) {
      margin: 30px auto;
    } 
    &-trade{
        display: block;
        text-align: center
    }
    &-desp{
        padding-top: 10px
    }
}
.skill-trade{
	max-height: 300px;
    /*background: #000;*/
}
.skill-trade canvas {
    max-height: 100%;
    max-width: 100%;
 	position: relative;
}
.skill-desp{
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 55px;
    width: 90px;
    @include mq_2(large) {
      top:60px
    }    
    @include mq_2(x-large) {
      top:80px
    }
}


