.section-skills{}
.skill{
    margin: 30px auto;
    padding: 20px; 
    &-trade{
        display: block;
        text-align: center
    }
    &-desp{
        padding-top: 20px
    }

}
.skill-trade canvas {
    max-width: 100%;
    max-height: 100%;
}