.button {
    padding: 0.9375rem 1.5625rem;
    transition: all 0.3s ease;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
    border: 2px solid rgba(255,255,255,0.5);
    background: transparent;
}

.work-item {
    clear: both;
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 0.625rem;
    position: relative;
    z-index: 900;
    overflow: hidden;
     cursor: pointer;
    &:hover{
        .work-item-overlay{
            /*opacity: 1;*/
            
        }
    }
    &:focus{
        .work-item-overlay{
            opacity: 1;
        }
    }
    &:active{
        .work-item-overlay{
            opacity: 1;
        }
    }
    &-overlay{
        display: none;
        transition: opacity 0.3s ease;
        height: 100%;
        width: 100%;
        opacity: 1;
        position: absolute;
        z-index: 50;
        background: rgba(0,204,255,0.6);
    }
    &-thumb{
        filter: grayscale(100%);
        display: block;
        overflow: hidden;
        width: 100%;
        height: auto;
    }
    &-link{
        margin: -1.625rem 0 0 -4.4375rem;
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        @extend .button
    }
}


